<h1 mat-dialog-title>Enter Password</h1>
<div mat-dialog-content>
  <div class="d-flex flex-row w-100 align-items-center">
    <mat-icon>password</mat-icon>
    <div style="width: 12px"></div>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="data" class="w-100">
    </mat-form-field>
  </div>
  <div *ngIf="errors">
    <p class="text-danger">{{errors}}</p>
  </div>
</div>
<div mat-dialog-actions class="w-100 d-flex flex-row justify-content-center">
  <button mat-raised-button color="accent" (click)="onSubmit()" cdkFocusInitial>Submit</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
</div>

